.gallery-container{
    width: 80%;
    height: 70vh;
    border: 2px;
    border-color: black;
    min-height: 400px;
}
.img-gallery{

    width: 100px;
    height: 100px;
    margin: 10px;
}
.full-img
{
    position: fixed;
    width: auto;
    height: 75%;

}

.button-img{
    background-color: rgba(0, 0, 0, 0);
}