.navbar{
    position:fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    background: rgba(18,17,16,0.7);
    z-index: 10; /* Posizione della navbar in profondita sullo schermo*/
}


.nav-image{
    height: 38px;
}
.nav-image:hover{
    color: #58bfff; /* Colore più luminoso al passaggio del mouse */
  /* Effetto glow (bagliore) */
    height: 38px;
}

.nav-link-list{
    display: flex; 



    gap: 1rem;

}  

.nav-link{

    text-decoration: none; /* Rimuove la sottolineatura dal link */
}
.nav-button:hover{
    border-color: #ffffff; /* Colore più luminoso al passaggio del mouse */

    text-decoration: none; /* Rimuove la sottolineatura dal link */
}

.nav-button {
    padding: 0.5rem 1rem;
    background:local;
    cursor: pointer;
    font-size: 1rem;
    /* Personalizza colori, bordi, hover e altro come desideri */
}
