.container-page-title {
  margin: 16px auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}
.titolo {
  text-decoration: underline;
  text-align: center;
  font-family: Abel;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}


