.container-pages {
    display:flex;
    flex-direction:column;
    top:0px;
    left: 0px;
    width: 100%;
    min-height: 100vh; /* Usa min-height per assicurarti che copra l'intera altezza della viewport */
    background: #022F47;
    position: absolute;

    align-items: center;
}