.background-pages {
    display:flex;
    flex-direction: row;
    flex:1;
    top:0px;
    left: 0px;
    width: 100%;
    min-height: 100vh; /* Usa min-height per assicurarti che copra l'intera altezza della viewport */
    background: #022F47;
    position: absolute;
    justify-content: center;
}