/* Container principale */
.container-info {
    display: flex;           /* Attiva Flexbox */
    align-items: flex-start; /* Allinea gli elementi (immagine e testo) in alto */
    gap: 16px;               /* Spaziatura orizzontale tra immagine e blocco di testo */
    margin: 20px;            /* Margine di esempio */
    width: 1200px;;
    height: 301px;
    background: #d9d9d9;
    border-radius: 10px;
    overflow: hidden; /* overflow serve per nascondere le cose che superano i confini*/
  }
  
  /* Stile per l’immagine */
  .immagine-info {
    height: 100%;
    width: auto;
    left:0%;
  }
  
  /* Contenitore del testo (titolo + descrizione) */
  .text-box {
    flex: 1;
    display: flex;           /* Anche qui, flexbox */
    flex-direction: column;  /* Gli elementi si dispongono in colonna (uno sopra l’altro) */
    justify-content: center;

  }
  
  /* Titolo della notizia */
  .titolo-info {
    font-size: 1.2rem;       /* Dimensione di esempio */
    font-weight: bold;       /* Grassetto di esempio */
    margin-bottom: 8px;      /* Un po’ di spazio sotto al titolo */
    align-content: center;
  }
  
  /* Descrizione della notizia */
  .descrizione-info {
    font-size: 1rem;         /* Dimensione di esempio */
    color: #555;             /* Colore di esempio */
  }