.bandi {
    display: flex;             /* Abilita il layout flex */
    flex-direction: column;    /* Dispone gli elementi verticalmente */
    justify-content: center; /* Center vertically */
    align-items: center;       /* Center horizontally */
    margin: auto;              /* Center the container itself */
    padding: 0;                /* Facoltativo, rimuove padding di default */
    background-color:#0B0B22;
    width: 1200px;
  }
  
  /* Titolo in alto */
  .titolo {
    height: 100px;

  }
  