.background-overlay{

    position: fixed;
    width: inherit;
    height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /*colore di sfondo*/
  z-index: 9999; /*permettere il popup sopra gli altri elementi*/
  backdrop-filter: blur(3px);
    display: flex; /* Abilita il layout flex */
    align-items: center;
    justify-content: center;
    z-index: 11;

}


.logout-popup {
     top: 0;
    left: 0;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 5;
    width: 300px;
    text-align: center;
}



.dark-text{
font: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
margin: 5px;
color: rgb(75, 75, 75);
height: fit-content;
}

.logout-popup-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}