.img-slide-show{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 16px;
    min-height: 400px;
    
}
.img{
    z-index: 2;
    filter:drop-shadow(0 0  20px  black);
    border-radius: 16px;
}
.l-img{
    position: relative;
    left: 50px;
    filter:blur(10px)

}
.r-img{
    position: relative;
    right: 50px;
    filter:blur(10px);
}
.prv-img{
    position: relative;
    left: 400px;
    z-index: 2;
}
.next-img{
    position: relative;
    right: 400px;
    z-index: 2;
}
.full-img
{
    width: auto;
    height: 75%;
}
.test{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Sfondo scuro trasparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    display: flex;
    align-items: center;
    align-content: center;
}