.container-notizia {
    position:relative;
    top: 0;
    align-self: center;
    width: 1200px;;
    height: 301px;
    background: #d9d9d9;
    border-radius: 10px;
    overflow: hidden; /* overflow serve per nascondere le cose che superano i confini*/
  }
  .immagine-notizia{
    position: absolute;
    height: 100%;
    left:0%;
  }
  .titolo-notizia{
    position: absolute;

  }