.page-background
{
    display: flex; /* Imposta un layout flessibile per il contenitore */
    flex-direction: column;
    justify-content: flex-start; /* Allinea gli elementi all'inizio del contenitore */
    align-items: center; /* Centra gli elementi orizzontalmente */
    margin: 10px;
    padding: 0;
    background-color: #0B0B22;
    width: 1200px;
    border-radius: 10px;
      
}